* {
  font-family: Helvetica, Arial, sans-serif;
  scrollbar-width: 10px;
}

.admin-message {
  margin-bottom: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  padding-top: 20px;
}

.parent {
  display: grid;
  grid-template-columns: 75px 1fr 1.5fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .parent {
  background-color: #121212;
}

.dark-mode #column-1 {
  background-color: #111111;
}

.dark-mode #column-2 {
  background-color: #1e1e1e;
}

#column-1 {
  background-color: rgb(160, 160, 160);
  height: 100vh;
  padding: 1vh 0.25vw 1vh 0.25vw;
}

#column-2 {
  background-color: rgb(210, 210, 210);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0.25vw 0vh 0.25vw;
}

#column-2 button {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

#column-3 {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 4px;
  scrollbar-color: pink;
}

#column-3::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.dark-mode #column-3::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
}

#column-3::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #21409a;
  border-radius: 5px;
}

#column-4 {
  display: flex;
  flex-direction: column;
  height: 99vh;
}

#avatar-container {
  padding: 1vh 1vw 1vh 1vw;
}

#customer-avatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 1vw;
}

#customer-avatar h1 {
  line-height: 0.5;
}

#message-composer {
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  width: 100%;
}

#message-composer input {
  grid-area: 1 / 1 / 2 / 5;
  margin: 1vh 0.5vw;
  height: 3vh;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding-left: 10px;
}

#message-composer button {
  grid-area: 1 / 5 / 2 / 5;
  margin: 1vh 0.5vw;
  background-color: #7749f8;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  border: 1px solid darkgrey;
}

#message-thread {
  height: 100vh;
  overflow-y: scroll;
  padding: 1vh 1vw;
}

#message-thread::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.dark-mode #message-thread::-webkit-scrollbar {
  width: 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
}

#message-thread::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #21409a;
  border-radius: 5px;
}

#bubble {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#speech-bubble {
  grid-area: 2 / 1 / 3 / 4;
}

#category-container {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0;
}

#category-container p {
  padding-right: 2px;
  margin: 0.5vh 0vw 0vh 0vw;
  text-align: end;
  color: darkgray;
  font-size: 0.8rem;
  font-weight: bolder;
}

#timestamp-container {
  grid-area: 1 / 1 / 2 / 4;
}

#timestamp-container p {
  margin: 0vh 0vw 0.5vh 0vw;
  color: darkgray;
}

#message-category {
  display: inline;
  font-weight: bolder;
}

.bubble-info {
  font-size: 0.8rem;
}

.no-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
}

.no-message-box {
  scale: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-message-text {
  color: #888;
  font-size: 1.5em;
  text-align: center;
}

#preview-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.6vw;
  grid-row-gap: 0px;
  align-items: center;
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  height: 7vh;
  transition: background-color ease-out 100ms;
  overflow: hidden;

}

#preview-container:hover {
  background-color: rgba(192, 149, 232, 0.431);
}

#preview-avatar {
  grid-area: 1 / 1 / 2 / 2;
}

#message-preview {
  grid-area: 1 / 2 / 2 / 3;
  overflow: hidden;
}

#message-preview p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

#message-preview-timestamp {
  grid-area: 1 / 3 / 2 / 4;
}

#message-preview-timestamp p {
  text-align: end;
  font-size: 0.9rem;
  font-weight: bolder;
  color: #8c8c8c;
}

.animated-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-image {
  width: 50px;
  height: 50px;
  transition: transform 1s ease-in-out;
  margin-left: 10px;
  margin-bottom: 15px;
}

.theme-toggle-button {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.dark-mode .no-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #111111;
  border-radius: 10px;
}

.shared-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.theme-toggle-button {
  width: 50px;
  height: 50px;
}

.category-button {
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-button-light {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.dark-mode .category-button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

/* .dark-mode * {
  scrollbar-color: #555 #1e1e1e;
} */

.dark-mode #message-composer input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}
